<div id="header">
    <div id="header-left">
      <a id="main-title" href="">
        <p id="name" class="text-color-primary"> DUVAL <span id="firstname" class="bg-radial-gradient-highlight">Lionel</span> </p>
      </a>
    </div>

    <div id="header-right" >
      <input type="checkbox" class="header-right-overlay-checkbox" id="header-right-range-color-checkbox">
      <label for="header-right-range-color-checkbox" class="header-right-button color-primary scale-up-div-hover">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#FFCE47;" d="M433.479,205.747c75.09,43.351,100.812,139.37,57.461,214.46s-139.37,100.812-214.46,57.461 c-7.304-4.21-14.135-8.93-20.48-14.074l31.824-170.903l123.221-97.645C418.677,197.97,426.175,201.537,433.479,205.747z"></path> <path style="fill:#FF4181;" d="M78.521,205.747c-75.09,43.351-100.812,139.37-57.461,214.46s139.37,100.812,214.46,57.461 c7.304-4.21,14.135-8.93,20.48-14.074l-31.824-170.903l-123.221-97.645C93.323,197.97,85.825,201.537,78.521,205.747z"></path> <path style="fill:#4EB9FF;" d="M412.999,170.271c0,8.432-0.667,16.707-1.953,24.775L256,256.196l-155.046-61.15 c-1.286-8.068-1.953-16.343-1.953-24.775c0-86.713,70.298-156.999,156.999-156.999S412.999,83.557,412.999,170.271z"></path> <path style="fill:#FF755C;" d="M312.09,316.957H199.91C191.21,371.482,211.933,427.9,256,463.594 C300.066,427.9,320.789,371.482,312.09,316.957z"></path> <path style="fill:#85C250;" d="M256,219.797l56.09,97.16c51.577-19.74,90.086-65.906,98.955-121.911 C358.098,174.724,298.865,185,256,219.797z"></path> <path style="fill:#3B8BC0;" d="M100.954,195.046c8.869,56.005,47.379,102.171,98.955,121.911l56.09-97.16 C213.134,185,153.902,174.724,100.954,195.046z"></path> <path style="fill:#174461;" d="M292.981,263.208c9.876,17.119,16.173,35.331,19.109,53.748 c-17.423,6.661-36.326,10.313-56.09,10.313s-38.667-3.652-56.09-10.313c2.936-18.418,9.233-36.629,19.109-53.749 c9.876-17.107,22.494-31.667,36.981-43.411C270.486,231.542,283.105,246.101,292.981,263.208z"></path> </g></svg>
      </label>

      <input type="checkbox" class="header-right-overlay-checkbox" id="header-right-dark-mode-checkbox">
      <label for="header-right-dark-mode-checkbox" class="header-right-button color-primary scale-up-div-hover">
      </label>

      <input type="checkbox" class="header-right-overlay-checkbox" id="header-right-language-checkbox">
      <label for="header-right-language-checkbox" class="header-right-button color-primary scale-up-div-hover">
        <svg class="svg-color-secondary" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM17 17.47C15.29 17.47 13.69 16.73 12.41 15.36C10.96 16.67 9.07 17.47 7 17.47C6.59 17.47 6.25 17.13 6.25 16.72C6.25 16.31 6.59 15.97 7 15.97C10.47 15.97 13.34 13.22 13.71 9.7H12H7.01C6.6 9.7 6.26 9.36 6.26 8.95C6.26 8.54 6.6 8.21 7.01 8.21H11.25V7.28C11.25 6.87 11.59 6.53 12 6.53C12.41 6.53 12.75 6.87 12.75 7.28V8.21H14.44C14.46 8.21 14.48 8.2 14.5 8.2C14.52 8.2 14.54 8.21 14.56 8.21H16.99C17.4 8.21 17.74 8.55 17.74 8.96C17.74 9.37 17.4 9.71 16.99 9.71H15.21C15.06 11.42 14.42 12.99 13.44 14.27C14.44 15.38 15.69 15.98 17 15.98C17.41 15.98 17.75 16.32 17.75 16.73C17.75 17.14 17.41 17.47 17 17.47Z"></path> </g></svg>
      </label>

      <div class="header-right-overlay color-primary" id="header-right-range-color-overlay">
        <input id="range-color" class="dropdown-item" type="range" min="0" max="150" value="0"/>
        <label for="header-right-range-color-checkbox" class="text-color-secondary">&larr;</label>
      </div>

      <div class="header-right-overlay color-primary" id="header-right-language-overlay">
        <div id="language-selector">
          <button data-lang="en" class="scale-up-div-hover">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle style="fill:#F0F0F0;" cx="256" cy="256" r="256"></circle> <g> <path style="fill:#0052B4;" d="M52.92,100.142c-20.109,26.163-35.272,56.318-44.101,89.077h133.178L52.92,100.142z"></path> <path style="fill:#0052B4;" d="M503.181,189.219c-8.829-32.758-23.993-62.913-44.101-89.076l-89.075,89.076H503.181z"></path> <path style="fill:#0052B4;" d="M8.819,322.784c8.83,32.758,23.993,62.913,44.101,89.075l89.074-89.075L8.819,322.784L8.819,322.784 z"></path> <path style="fill:#0052B4;" d="M411.858,52.921c-26.163-20.109-56.317-35.272-89.076-44.102v133.177L411.858,52.921z"></path> <path style="fill:#0052B4;" d="M100.142,459.079c26.163,20.109,56.318,35.272,89.076,44.102V370.005L100.142,459.079z"></path> <path style="fill:#0052B4;" d="M189.217,8.819c-32.758,8.83-62.913,23.993-89.075,44.101l89.075,89.075V8.819z"></path> <path style="fill:#0052B4;" d="M322.783,503.181c32.758-8.83,62.913-23.993,89.075-44.101l-89.075-89.075V503.181z"></path> <path style="fill:#0052B4;" d="M370.005,322.784l89.075,89.076c20.108-26.162,35.272-56.318,44.101-89.076H370.005z"></path> </g> <g> <path style="fill:#D80027;" d="M509.833,222.609h-220.44h-0.001V2.167C278.461,0.744,267.317,0,256,0 c-11.319,0-22.461,0.744-33.391,2.167v220.44v0.001H2.167C0.744,233.539,0,244.683,0,256c0,11.319,0.744,22.461,2.167,33.391 h220.44h0.001v220.442C233.539,511.256,244.681,512,256,512c11.317,0,22.461-0.743,33.391-2.167v-220.44v-0.001h220.442 C511.256,278.461,512,267.319,512,256C512,244.683,511.256,233.539,509.833,222.609z"></path> <path style="fill:#D80027;" d="M322.783,322.784L322.783,322.784L437.019,437.02c5.254-5.252,10.266-10.743,15.048-16.435 l-97.802-97.802h-31.482V322.784z"></path> <path style="fill:#D80027;" d="M189.217,322.784h-0.002L74.98,437.019c5.252,5.254,10.743,10.266,16.435,15.048l97.802-97.804 V322.784z"></path> <path style="fill:#D80027;" d="M189.217,189.219v-0.002L74.981,74.98c-5.254,5.252-10.266,10.743-15.048,16.435l97.803,97.803 H189.217z"></path> <path style="fill:#D80027;" d="M322.783,189.219L322.783,189.219L437.02,74.981c-5.252-5.254-10.743-10.266-16.435-15.047 l-97.802,97.803V189.219z"></path> </g> </g></svg>
          </button>
          <button data-lang="fr" class="scale-up-div-hover">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle style="fill:#F0F0F0;" cx="256" cy="256" r="256"></circle> <path style="fill:#D80027;" d="M512,256c0-110.071-69.472-203.906-166.957-240.077v480.155C442.528,459.906,512,366.071,512,256z"></path> <path style="fill:#0052B4;" d="M0,256c0,110.071,69.473,203.906,166.957,240.077V15.923C69.473,52.094,0,145.929,0,256z"></path> </g></svg>
          </button>
          <button data-lang="es" class="scale-up-div-hover">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#FFDA44;" d="M0,256c0,31.314,5.633,61.31,15.923,89.043L256,367.304l240.077-22.261 C506.367,317.31,512,287.314,512,256s-5.633-61.31-15.923-89.043L256,144.696L15.923,166.957C5.633,194.69,0,224.686,0,256z"></path> <g> <path style="fill:#D80027;" d="M496.077,166.957C459.906,69.473,366.071,0,256,0S52.094,69.473,15.923,166.957H496.077z"></path> <path style="fill:#D80027;" d="M15.923,345.043C52.094,442.527,145.929,512,256,512s203.906-69.473,240.077-166.957H15.923z"></path> </g> </g></svg>
          </button>
        </div>
        <label for="header-right-language-checkbox" class="text-color-secondary">&larr;</label>
      </div>      
      <!--
        <input id="range-color" class="dropdown-item" type="range" min="0" max="150" value="0"/>
        <input id="range-color" class="dropdown-item" type="range" min="0" max="150" value="0"/>
      -->
    </div>
</div>