			<div class="article-left">
                <img class="image" src="/img/image.png" alt="">
                <h1 class="dark" id="contact-name">Lionel Duval</h1>
                
				<div class="centrelangue">
                    <p class=" grey noe fr" style="display: block;">Développeur</p>
                    <p class=" grey noe en" style="display:none;">Developer </p>
                </div>
                
				<div class="reseau">
                    <a href="https://github.com/lvoneduval">
                        <button class="grille">
                            <div class="round-background"></div>
                            <img src="/img/article-left/reseau/github.svg" alt="">
                        </button>
                    </a>

                    <a href="https://codepen.io/noecalmes">
                        <button class="grille">
                            <div class="round-background"></div>
                            <img src="/img/article-left/reseau/codepen.svg" alt="">
                        </button>
                    </a>

                    <a href="https://www.linkedin.com/in/noe-calmes-627564236/">
                        <button class="grille">
                            <div class="round-background"></div>
                            <img class="linkedin" src="/img/article-left/reseau/linkedin.svg" alt="">
                        </button>
                    </a>
                </div>

                <div class="contact-grid">
                    <div class="contact-info" id="contact-info1">
                        <span id="phone" class="contact-icon">☏</span>
                        <a href="tel:0769611199">
                            <p class="grey">+0769611199</p>
                        </a>
                    </div>
					<div class="line"></div>
                    <div class="contact-info" id="contact-info2">
					<span id="mail" class="contact-icon">✉</span>
                        <a href="mailto:lvduval@icloud.com">
                            <p class="grey">lvduval@icloud.com</p>
                        </a>
                    </div>
					<div class="line"></div>
                    <div class="contact-info" id ="contact-info3">
                        <span id="position" class="contact-icon">▽</span>
                        <a href="">
                            <p class="grey">Montpellier/Toulouse</p>
                        </a>
                    </div>
					<div class="line"></div>
					<div class="contact-info">
                    	<a href="/pdf/cv-lionelduval-fr.pdf">
							<button class="download fr" style="display: block;">
								Télécharger mon CV
                        	</button>
						</a>
                    	<a href="/pdf/cv-lionelduval-en.pdf">
							<button class="download en" style="display:none;">
								Download Resume
                        	</button>
						</a>
					</div>
                </div>
            </div>
