<%- include('core') %>
<div id="home" class="main-core-content">
	<div id="home-title" class="main-core-title">
		<p data-key="home-title-p" id="home-title-p" class="text-color-primary">A Propos</p>
		<div id="home-title-line" class="main-core-title-line bg-linear-gradient-fadeout"></div>
	</div>
	<div id="home-presentation">
	<p data-key="home-presentation-p" id="home-presentation-p" class="text-color-secondary">
		&nbsp&nbsp J’ai 29 ans, et j’ai toujours été passionné par les mathématiques et l’informatique.
		Curieux et avide de connaissances, j’ai un excellent relationnel et je sais travailler en équipe.
		À l’aube de mes 30 ans, je ressens le besoin de me reconvertir vers un domaine qui, au fond, a toujours été le
		mien : la
		programmation. Je vous laisse le plaisir de parcourir cd portfolio.
	</p>
	</div>
	<div id="home-work">
	<div id="home-work-title">
		<p data-key="home-work-title-p" id="home-work-title-p" class="text-color-primary">Mon travail</p>
	</div>
	<div id="home-work-grid">
		<div class="home-work-card color-highlight" id="home-work-card-dev">
			<div class="home-work-card-title">
				<svg class="home-work-card-title-svg svg-color-secondary" version="1.1" xmlns="http://www.w3.org/2000/svg">
					<g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM8.53 13.47C8.82 13.76 8.82 14.24 8.53 14.53C8.38 14.68 8.19 14.75 8 14.75C7.81 14.75 7.62 14.68 7.47 14.53L5.47 12.53C5.18 12.24 5.18 11.76 5.47 11.47L7.47 9.47C7.76 9.18 8.24 9.18 8.53 9.47C8.82 9.76 8.82 10.24 8.53 10.53L7.06 12L8.53 13.47ZM13.69 9.96L11.69 14.63C11.57 14.91 11.29 15.08 11 15.08C10.9 15.08 10.8 15.06 10.71 15.02C10.33 14.86 10.15 14.42 10.32 14.03L12.32 9.36C12.48 8.98 12.92 8.8 13.3 8.97C13.68 9.14 13.85 9.58 13.69 9.96ZM18.53 12.53L16.53 14.53C16.38 14.68 16.19 14.75 16 14.75C15.81 14.75 15.62 14.68 15.47 14.53C15.18 14.24 15.18 13.76 15.47 13.47L16.94 12L15.47 10.53C15.18 10.24 15.18 9.76 15.47 9.47C15.76 9.18 16.24 9.18 16.53 9.47L18.53 11.47C18.82 11.76 18.82 12.24 18.53 12.53Z"></path> </g>
				</svg>	
				<p class="home-work-card-title-p text-color-secondary" data-key="home-work-card-title-dev" >Développement</p>
			</div>
			<div class="home-work-card-content">
				<p class="home-work-card-content-p text-color-secondary" data-key="home-work-card-content-dev">
					En tant que développeur, je suis captivé par la puissance et la flexibilité des langages de haut niveau.
					Ayant un solide bagage en langages de bas niveau, je suis avide de nouveaux projets.
				</p>
			</div>	
		</div>
		<div class="home-work-card color-highlight-secondary" id="home-work-card-math">
			<div class="home-work-card-title">
				<svg class="home-work-card-title-svg svg-color-primary" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM11.03 17.66C11.32 17.95 11.32 18.43 11.03 18.72C10.88 18.87 10.69 18.94 10.5 18.94C10.31 18.94 10.12 18.87 9.97 18.72L8.25 17L6.53 18.72C6.38 18.86 6.19 18.94 6 18.94C5.81 18.94 5.62 18.87 5.47 18.72C5.18 18.43 5.18 17.95 5.47 17.66L7.19 15.94L5.47 14.22C5.18 13.93 5.18 13.45 5.47 13.16C5.76 12.87 6.24 12.87 6.53 13.16L8.25 14.88L9.97 13.16C10.26 12.87 10.74 12.87 11.03 13.16C11.32 13.45 11.32 13.93 11.03 14.22L9.31 15.94L11.03 17.66ZM10.5 8.81H6C5.59 8.81 5.25 8.47 5.25 8.06C5.25 7.65 5.59 7.31 6 7.31H10.5C10.91 7.31 11.25 7.65 11.25 8.06C11.25 8.47 10.91 8.81 10.5 8.81ZM18 18.56H13.5C13.09 18.56 12.75 18.22 12.75 17.81C12.75 17.4 13.09 17.06 13.5 17.06H18C18.41 17.06 18.75 17.4 18.75 17.81C18.75 18.22 18.41 18.56 18 18.56ZM18 14.81H13.5C13.09 14.81 12.75 14.47 12.75 14.06C12.75 13.65 13.09 13.31 13.5 13.31H18C18.41 13.31 18.75 13.65 18.75 14.06C18.75 14.47 18.41 14.81 18 14.81ZM18 8.81H16.52V10.31C16.52 10.72 16.18 11.06 15.77 11.06C15.36 11.06 15.02 10.72 15.02 10.31V8.81H13.5C13.09 8.81 12.75 8.47 12.75 8.06C12.75 7.65 13.09 7.31 13.5 7.31H15.02V5.81C15.02 5.4 15.36 5.06 15.77 5.06C16.18 5.06 16.52 5.4 16.52 5.81V7.31H18C18.41 7.31 18.75 7.65 18.75 8.06C18.75 8.47 18.41 8.81 18 8.81Z"></path> </g>
				</svg>
				<p class="home-work-card-title-p text-color-primary" data-key="home-work-card-title-math">Mathématiques</p>
			</div>
			<div class="home-work-card-content">
				<p class="home-work-card-content-p text-color-primary" data-key="home-work-card-content-math">
					Mes compétences en mathématiques sont un atout précieux en tant que développeur. Elles me permettent de
					comprendre et de résoudre des problèmes complexes avec rigueur et précision.
				</p>
			</div>
		</div>
		<div class="home-work-card color-highlight" id="home-work-card-debug">
			<div class="home-work-card-title">
				<svg class="home-work-card-title-svg svg-color-secondary" xmlns="http://www.w3.org/2000/svg">
					<g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21.5609 10.7386L20.2009 9.15859C19.9409 8.85859 19.7309 8.29859 19.7309 7.89859V6.19859C19.7309 5.13859 18.8609 4.26859 17.8009 4.26859H16.1009C15.7109 4.26859 15.1409 4.05859 14.8409 3.79859L13.2609 2.43859C12.5709 1.84859 11.4409 1.84859 10.7409 2.43859L9.17086 3.80859C8.87086 4.05859 8.30086 4.26859 7.91086 4.26859H6.18086C5.12086 4.26859 4.25086 5.13859 4.25086 6.19859V7.90859C4.25086 8.29859 4.04086 8.85859 3.79086 9.15859L2.44086 10.7486C1.86086 11.4386 1.86086 12.5586 2.44086 13.2486L3.79086 14.8386C4.04086 15.1386 4.25086 15.6986 4.25086 16.0886V17.7986C4.25086 18.8586 5.12086 19.7286 6.18086 19.7286H7.91086C8.30086 19.7286 8.87086 19.9386 9.17086 20.1986L10.7509 21.5586C11.4409 22.1486 12.5709 22.1486 13.2709 21.5586L14.8509 20.1986C15.1509 19.9386 15.7109 19.7286 16.1109 19.7286H17.8109C18.8709 19.7286 19.7409 18.8586 19.7409 17.7986V16.0986C19.7409 15.7086 19.9509 15.1386 20.2109 14.8386L21.5709 13.2586C22.1509 12.5686 22.1509 11.4286 21.5609 10.7386ZM16.1609 10.1086L11.3309 14.9386C11.1909 15.0786 11.0009 15.1586 10.8009 15.1586C10.6009 15.1586 10.4109 15.0786 10.2709 14.9386L7.85086 12.5186C7.56086 12.2286 7.56086 11.7486 7.85086 11.4586C8.14086 11.1686 8.62086 11.1686 8.91086 11.4586L10.8009 13.3486L15.1009 9.04859C15.3909 8.75859 15.8709 8.75859 16.1609 9.04859C16.4509 9.33859 16.4509 9.81859 16.1609 10.1086Z" ></path> </g>
				</svg>
				<p class="home-work-card-title-p text-color-secondary" data-key="home-work-card-title-debug">Deboguage</p>
			</div>
			<div class="home-work-card-content">
				<p class="home-work-card-content-p text-color-secondary" data-key="home-work-card-content-debug">
					J'aime déboguer car cela me permet de comprendre en profondeur le fonctionnement du
					code. Chaque bug est un défi à résoudre, stimulant ma curiosité et mon esprit
					analytique.
				</p>
			</div>
		</div>
		<div class="home-work-card color-highlight-secondary" id="home-work-card-com">
			<div class="home-work-card-title">
				<svg class="home-work-card-title-svg svg-color-primary" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.59 12.4V16.47C15.59 16.83 15.55 17.17 15.46 17.48C15.09 18.95 13.87 19.87 12.19 19.87H9.47L6.45 21.88C6 22.19 5.4 21.86 5.4 21.32V19.87C4.38 19.87 3.53 19.53 2.94 18.94C2.34 18.34 2 17.49 2 16.47V12.4C2 10.5 3.18 9.19 5 9.02C5.13 9.01 5.26 9 5.4 9H12.19C14.23 9 15.59 10.36 15.59 12.4Z" ></path> <path d="M17.75 15.6C19.02 15.6 20.09 15.18 20.83 14.43C21.58 13.69 22 12.62 22 11.35V6.25C22 3.9 20.1 2 17.75 2H9.25C6.9 2 5 3.9 5 6.25V7C5 7.28 5.22 7.5 5.5 7.5H12.19C14.9 7.5 17.09 9.69 17.09 12.4V15.1C17.09 15.38 17.31 15.6 17.59 15.6H17.75Z"></path> </g>
				</svg>
				<p class="home-work-card-title-p text-color-primary" data-key="home-work-card-title-com">Communication</p>
			</div>
			<div class="home-work-card-content">
				<p class="home-work-card-content-p text-color-primary" data-key="home-work-card-content-com">
					Partager et apprendre sont pour moi des sources de grande satisfaction. J'éprouve une immense joie à
					partager avec les autres et je valorise également chaque opportunité d'enrichir mes connaissances.
				</p>
			</div>
		</div>
	</div>
	</div>
</div>
<%- include('endcore') %>