<%- include('core') %>
<div id="projects" class="main-core-content">
    <div id="projects-title" class="main-core-title">
        <p id="projects-title-p" class="text-color-primary" data-key="projects-title-p">Projets</p>
        <div id="prjects-title-line" class="main-core-title-line bg-linear-gradient-fadeout"></div>
    </div>
    <div id="projects-container">
        <!--
        <div id="projects-nav-container">
            <ul id="projects-nav">
                <li>
                    <a href="" class="">TOUT</a>
                    <a href="" class="">3D</a>
                    <a href="" class="">PYTHON</a>
                    <a href="" class="">C</a>
                </li>
            </ul>
        </div>
        -->
        <div id="projects-grid-container">
            <div id="projects-grid">
                <a href="#">
                    <div class="projects-troisd projects-card" id="libgraphic">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">3D</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Lib G</p>
                            <p class="projects-card-caption-content" data-key="libgraphic-content">
                                Développement de libgraphic en C, une bibliothèque graphique pour créer des rendus 2D et
                                3D, animations et interactions visuelles.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="projects-troisd projects-card" id="fdf">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">3D</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">FDF</p>
                            <p class="projects-card-caption-content" data-key="fdf-content">
                                Visualiseur de wireframe lisant des ‘heightmaps’ et générant des représentations
                                3D détaillées des terrains, permettant une exploration interactive.
                            </p>
                        </div>
                    </div>
                </a>
                 <a href="#">
                    <div class="projects-troisd projects-card" id="raytracer">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">3D</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">RT</p>
                            <p class="projects-card-caption-content" data-key="raytracer-content">
                                Raytracer basique créant des images 3D réalistes avec ombres, réflexions et réfractions
                                en traçant les rayons de lumière.
                            </p>
                        </div>
                    </div>
                </a>

                 <a href="#">
                    <div class="projects-troisd projects-card" id="wolf3d">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">3D</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Wolf 3D</p>
                            <p class="projects-card-caption-content" data-key="wolf3D-content">
                                Réplique de Wolfenstein utilisant le raycasting, avec graphismes rétro et gameplay
                                fluide et gestion des collisions immersive.
                            </p>
                        </div>
                    </div>
                </a>

                 <a href="#">
                    <div class="projects-py projects-card" id="bot">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">Bot</p>
                            <p class="projects-card-label-bot">PY</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Web Bot</p>
                            <p class="projects-card-caption-content" data-key="bot-content">
                                Création de bots Selenium pour automatiser des tâches sur LinkedIn, Instagram et
                                Pronote, collectant des données et gérant des actions répétitives.
                            </p>
                        </div>
                    </div>
                </a>


                 <a href="#">
                    <div class="projects-py projects-card" id="axaunot">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">Web</p>
                            <p class="projects-card-label-bot">PY</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Stock Manager</p>
                            <p class="projects-card-caption-content" data-key="axaunot-content">
                                Gestionnaire pour PME, similaire à Axaunot, avec gestion des devis, clients, inventaire,
                                tickets et tâches. Intègre des scanners pour un suivi des stocks en temps réel.
                            </p>
                        </div>
                    </div>
                </a>

                 <a href="#">
                    <div class="projects-troisd projects-card" id="Arina">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">3D</p>
                            <p class="projects-card-label-bot">C#</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Arina</p>
                            <p class="projects-card-caption-content" data-key="arina-content">
                                Arina est un jeu tactique inspiré de Final Fantasy Tactics, centré sur les combats au
                                tour par tour et la création d’équipes.
                            </p>
                        </div>
                    </div>
                </a>

                 <a href="#">
                    <div class="projects-py projects-card" id="dofus">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">App</p>
                            <p class="projects-card-label-bot">PY</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Market tracker</p>
                            <p class="projects-card-caption-content" data-key="dofus-content">
                                Analyseur de marché pour Dofus, collectant recettes, ressources et prix. Optimise les
                                dépenses et maximise les gains.
                            </p>
                        </div>
                    </div>
                </a>

                 <a href="#">
                    <div class="projects-sys projects-card" id="libc">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">Sys</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Lib C</p>
                            <p class="projects-card-caption-content" data-key="libc-content">
                                Création d'une version personnalisée de la libc, réécrivant des fonctions essentielles
                                comme la gestion de la mémoire et les entrées/sorties.
                            </p>
                        </div>
                    </div>
                </a>


                 <a href="#">
                    <div class="projects-sys projects-card" id="ls">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">Sys</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">LS</p>
                            <p class="projects-card-caption-content" data-key="ls-content">
                                Réimplémentation de la commande 'ls' d'Unix/Linux, listant fichiers et répertoires avec
                                diverses options. Montre une maîtrise des systèmes de fichiers en C.
                            </p>
                        </div>
                    </div>
                </a>


                 <a href="#">
                    <div class="projects-sys projects-card" id="minishell">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">Sys</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Minishell</p>
                            <p class="projects-card-caption-content" data-key="minishell-content">
                                Création d'un mini shell pour exécuter des commandes de base et gérer les processus et
                                manipulation des E/S.
                            </p>
                        </div>
                    </div>
                </a>

                 <a href="#">
                    <div class="projects-sys projects-card" id="corewar">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">Sys</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Corewar</p>
                            <p class="projects-card-caption-content" data-key="corewar-content">
                                Implémentation de Corewar, un jeu où des programmes guerriers s'affrontent en mémoire
                                virtuelle en manipulant la mémoire partagée.
                            </p>
                        </div>
                    </div>
                </a>

                 <a href="#">
                    <div class="projects-ia projects-card" id="lem-in">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">IA</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Lemin</p>
                            <p class="projects-card-caption-content" data-key="Lemin-content">
                                Création d'un simulateur de gestion de fourmilière, optimisant le trajet des fourmis à
                                travers des salles et tunnels grâce à des algorithmes de graphes.
                            </p>
                        </div>
                    </div>
                </a>

                 <a href="#">
                    <div class="projects-ia projects-card" id="ia">
                        <div class="projects-card-label">
                            <p class="projects-card-label-top">IA</p>
                            <p class="projects-card-label-bot">C</p>
                        </div>
                        <div class="projects-card-caption">
                            <p class="projects-card-caption-title">Basic AI</p>
                            <p class="projects-card-caption-content" data-key="ia-content">
                                Création d'IA basiques pour Puissance 4, labyrinthes et Fillit. Analyse les coups,
                                trouve le chemin le plus court et optimise le placement des pièces.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('endcore') %>