<%- include('core') %>
    <div id="resume" class="main-core-content">
        <div id="resume-title" class="main-core-title">
            <p id="resume-title-p" class="text-color-primary" data-key="resume-title-p">Parcours</p>
            <div id="resume-title-p" class="main-core-title-line bg-linear-gradient-fadeout"></div>
        </div>
        <div id="resume-formation">
            <div id="resume-formation-title">
                <svg class="svg-color-highlight" id="resume-formation-title-svg" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.673 5.606a3326.02 3326.02 0 0 1-5.671-2.674L.138 8.524l2.03.98L2 9.531V20h1v-9.626l.72-.124.28.135v5.288c0 .914 5.206 3.533 6.249 4.049a3.89 3.89 0 0 0 3.48-.026C20 16.486 20 15.895 20 15.673v-5.288l3.854-1.857s-3.8-1.801-6.181-2.922zM19 15.504a51.526 51.526 0 0 1-5.726 3.302 2.884 2.884 0 0 1-2.582.02A40.184 40.184 0 0 1 5 15.521v-4.655l7 3.373 7-3.373zm-7-2.373L5.416 9.958l6.469-1.115-.17-.987-7.85 1.354-1.403-.676 9.537-4.495c.825.393 8.523 4.014 9.542 4.494z" />
                    <path fill="none" d="M0 0h24v24H0z" />
                </svg>
                <p class="text-color-highlight" id="resume-formation-title-p" data-key="resume-formation-title-p">Education</p>
            </div>

            <div id="resume-formation-grid">
                <div class="resume-formation-card color-secondary" id="resume-formation-card-HS">
                    <div class="resume-formation-card-content">
                        <p class="resume-formation-card-content-y text-color-highlight">2010-2013</p>
                        <p class="resume-formation-card-content-diplome text-color-primary" data-key="resume-formation-card-HS-I">Baccalauréat</p>
                        <p class="resume-formation-card-content-topic text-color-primary"  data-key="resume-formation-card-HS-II">Filière S</p>
                    </div>
                    <div class="resume-formation-card-caption color-highlight">
                        <p class="resume-formation-card-caption-y text-color-tertiary">2010-2013</p>
                        <p class="resume-formation-card-caption-school text-color-tertiary">HIGH-SCHOOL</p>
                    </div>
                </div>

                <div class="resume-formation-card color-secondary" id="resume-formation-card-42">
                    <div class="resume-formation-card-content">
                        <p class="resume-formation-card-content-y text-color-highlight">2016-2018</p>
                        <p class="resume-formation-card-content-diplome text-color-primary" data-key="resume-formation-card-42-I">42 Paris</p>
                        <p class="resume-formation-card-content-topic text-color-primary" data-key="resume-formation-card-42-II">Sciences Informatiques</p>
                    </div>
                    <div class="resume-formation-card-caption color-highlight">
                        <p class="resume-formation-card-caption-y text-color-tertiary">2016-2018</p>
                        <p class="resume-formation-card-caption-school text-color-tertiary">42 PARIS</p>
                    </div>
                </div>

                <div class="resume-formation-card color-secondary" id="resume-formation-card-IPSSI">
                    <div class="resume-formation-card-content">
                        <p class="resume-formation-card-content-y text-color-highlight">2024-2025</p>
                        <p class="resume-formation-card-content-diplome text-color-primary" data-key="resume-formation-card-IPSSI-I">Bachelor - IPSSI</p>
                        <p class="resume-formation-card-content-topic text-color-primary" data-key="resume-formation-card-42-IPSII-II">Développement full stack et
                            DevOps</p>
                    </div>
                    <div class="resume-formation-card-caption color-highlight">
                        <p class="resume-formation-card-caption-y text-color-tertiary">2024-2025</p>
                        <p class="resume-formation-card-caption-school text-color-tertiary">IPSII</p>
                    </div>
                </div>

                <div class="resume-formation-card color-secondary" id="resume-formation-card-AMU">
                    <div class="resume-formation-card-content">
                        <p class="resume-formation-card-content-y text-color-highlight">Present</p>
                        <p class="resume-formation-card-content-diplome text-color-primary" data-key="resume-formation-card-AMU-I">Licence Mathématique
                            Informatique</p>
                        <p class="resume-formation-card-content-topic text-color-secondary" data-key="resume-formation-card-AMU-II">Aix Marseille Université</p>
                    </div>
                    <div class="resume-formation-card-caption color-highlight">
                        <p class="resume-formation-card-caption-y text-color-tertiary">Present</p>
                        <p class="resume-formation-card-caption-school text-color-tertiary">AMU</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="resume-interest">
            <div id="resume-interest-box">
                <p id="resume-interest-title" class="text-color-primary" data-key="resume-interest-title">Centre d'Intérêts</p>
                <div id="resume-interest-title-sep" class="bg-radial-gradient-highlight"></div>
                <div id="resume-interest-list-container">
                    <ul id="resume-interest-list">
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-I">Scoutisme</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-II">Mathématiques</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-III">Jeux de Rôle</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-IV">Hip-Hop</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-V">Echecs</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-VI">Vélo</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-VII">Guitare</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-VIII">Cuisine</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-IX">Education</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-X">Electronique</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-XI">Gymnastique</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-XII">Tango</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-XIII">Théatre</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-XIV">Sci-Fi</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-XV">Randonnée</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-XVI">Zéthétique</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-XVII">Physique</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-XVIII">Excel</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-XIX">Puzzle</li>
                        <li class="color-highlight-secondary text-color-primary scale-up-div-hover" data-key="resume-interest-XX">Podcast</li>
                        <li class="color-highlight text-color-secondary scale-up-div-hover" data-key="resume-interest-XXI">Thé</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <%- include('endcore') %>